.faq-section{
    max-width:800px;
    margin:auto;
    padding:60px 20px;
    font-family:system-ui;
}

.faq-section h2{
    text-align:center;
    color:#1B2F51;
    margin-bottom:40px;
    font-size:2rem;
    font-weight:700;
}

.faq-card{
    background:#FFFFFF;
    border:1px solid rgba(43,196,218,.2);
    border-radius:16px;
    margin-bottom:18px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(27,47,81,.08);
    transition:.3s;
}

.faq-card:hover{
    /* transform:translateY(-3px); */
    box-shadow:0 10px 25px rgba(114, 160, 239, 0.12);
}

.faq-question{
    width:100%;
    background:#FFFFFF;
    border:none;
    padding:22px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:17px;
    font-weight:600;
    color:#1B2F51;
}

.faq-question span:last-child{
    width:32px;
    height:32px;
    background:#2BC4DA;
    color:#FFFFFF;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight:700;
}

.faq-answer{
    padding:0 25px 25px;
    color:#555;
    line-height:1.7;
    border-top:2px solid #ED2974;
    animation:fade .3s ease;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}